.header {
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);

  background: transparent;
  border-bottom: 1px solid #2E2E33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}